@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    min-height: 100%

}
body{
    background-color: #292929;
    font-size: 14px;
    color: #ffff    
}
body, input, button{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    cursor: pointer;
    color: black;
}
.no-scroll {
    overflow: hidden;
  }